<div class="item_list-todo"  >
  <input class="check_done-todo" type="checkbox" (click)="isDoneItem(todo.id)" [checked]="todo.done">
  <span class="todo_id">№{{todo.id}}</span>
  <span
    *ngIf="!showBlockEditTodo"
    #todoText
    class="todo_value"
    [ngClass]="{'todo-done_value' : todo.done}
">{{todo.valueTodo}}</span>
  <span class="todo_value_edit" *ngIf="showBlockEditTodo">
    <input #editTodoInput type="text" [value]= 'todo.valueTodo'>
    <button (click)="editItem(editTodoInput.value, todo.id)">save</button>
  </span>
  <button (click)="showEditTodo()">edit</button>
  <button (click)="deleteItem(todo.id)" >x</button>
</div>
